img {
  height: 100px;
  width: 100px;
}
div {
  border: solid black;
  background-color: crimson;
  height: 200px;
  width: 200px;
}
span {
  color: purple;
  text-decoration: underline;
  text-transform: uppercase;
}
* {
  border: solid black;
}